body{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background-color: black;
}
h1{
	color: white;
	font-size: 60px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: #9932CC;
}
div{
	background-color: rgb(127,255,0);
	height:500px;
	width: 400px;
	border-radius: 20px;
	margin: 0 auto;
	display: flex; 
	justify-content: center;
	flex-direction: column;

}
nav{
	margin-bottom: 30px;
	width:200px;
	height: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-direction: row;
	margin:0 auto;
}
h2{	
	border-radius: 25px;
	background-color: black;
	height: 400px;
	width: 350px;
	margin: 0 auto;
	margin-bottom: 30px;
}
#start{
	display:block;
	margin: 0 auto;
	height:80px;
	width:150px;
	margin-bottom: 50px;
	background-color: #FFA500;
	border-radius: 5px;
}
#feed, #play, #bed{
	border-radius: 3px;
	background-color: lightblue;
}
h3{
	background-color: #0E3148
}










